# __pycache__ (Python 캐시 폴더) 제외
__pycache__/
*.pyc
*.pyo

# 환경설정 및 가상환경 폴더 제외
.env
.venv/
Pipfile.lock

# 동영상 및 프레임 폴더 제외 (Git 관리 대상 X)
downloads/

# Mac 시스템 파일 제외
.DS_Store

#FAISS 벡터 데이터
faiss_index.bin